# Lists, Dictionaries and Tuples

# Lists

In [3]:
#list of six even numbers
list1=[2,4,6,8,10,12]
print (list1)

[2, 4, 6, 8, 10, 12]

In [7]:
#ist of vowels
list2=['a','e','i','o','u']
print (list2)

['a', 'e', 'i', 'o', 'u']

In [10]:
#list of mixed data types
>>> list3=[100,23.5,"Hello"]
>>> print(list3)

[100, 23.5, 'Hello']

In [11]:
#list of lists called nested lists
list4=[['Physics',102],['Chemistry',202],['Maths',303]]
print(list4)

[['Physics', 102], ['Chemistry', 202], ['Maths', 303]]

# Accessing elements in a list

In [19]:
#initializes a list list1

list1 = [2,4,6,8,10,12]
list1[0] #return first element of list1
list1[3] #return fourth element of list1

#return error as index is out of range
#list1[15]

#an expression resulting in an integer index
list1[1+4]

list1[-1]

#length of the first element from the right
n=len(list1)
print(n)

#return the last element of the list1
list1[n-1]

#return the first elemet of the list1
list1[-n]

6

2

# Lists are mutable

In [21]:
#List list1 of colours
list1=['Red','Green','Blue','Orange']
list1[3]='Black'
list1 #print the modified list list1

['Red', 'Green', 'Blue', 'Black']

# List Operations

### 1.Concatenation

In [23]:
#list1 is list of first five odd integers
list1 = [1,3,5,7,9]

#list2 is list of first five even integers
list2 = [2,4,6,8,10]

#elements of list1 followed by list2 
list1 + list2

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [24]:
list3=['Red','Green','Blue']
list4=['Cyan','Maganta','Yellow','Black']
list3+list4

['Red', 'Green', 'Blue', 'Cyan', 'Maganta', 'Yellow', 'Black']

### 2. Repitition

In [25]:
list1=['Hello']
#elements of list1 repeated 4 times
list1 *4

['Hello', 'Hello', 'Hello', 'Hello']

### 3. Membership

In [45]:
list1 =['Red','Blue','Green']

In [46]:
'Green' in list1

True

In [47]:
'Cyan' in list1

False

In [48]:
'Green' not in list1

False

In [49]:
'Cyan' not in list1

True

### 4.Slicing

In [50]:
list1=['Red','Green','Blue','Cyan','Magenta','Yellow','Black']

In [51]:
list1[2:6]

['Blue', 'Cyan', 'Magenta', 'Yellow']

In [54]:
#second index is out of range

list1[2:20]

['Blue', 'Cyan', 'Magenta', 'Yellow', 'Black']

In [55]:
list1[7:2]

[]

In [56]:
#slicing with a given step size

list1[0:6:2]

['Red', 'Blue', 'Magenta']

In [57]:
#negative indexes
#elements at index -6,-5,-4,-3 are sliced

list1[-6:-2]

['Green', 'Blue', 'Cyan', 'Magenta']

In [58]:
#step size 2 on entire list

list1[::2]

['Red', 'Blue', 'Magenta', 'Black']

In [59]:
#negative step size
#whole list in the reverse order

list1[::-1]

['Black', 'Yellow', 'Magenta', 'Cyan', 'Blue', 'Green', 'Red']

# Traversing a list

### (A) List Traversal Using for Loop:

In [60]:
list1 = ['Red','Green','Blue','Yellow', 'Black']

In [61]:
for item in list1:
 print(item)

Red
Green
Blue
Yellow
Black

In [62]:
# Another way

for i in range(len(list1)):
 print(list1[i])

Red
Green
Blue
Yellow
Black

### (B)List Traversal Using while loop

In [63]:
list1 = ['Red','Green','Blue','Yellow', 'Black']
i = 0
while i < len(list1):
 print(list1[i])
 i += 1

Red
Green
Blue
Yellow
Black

## Method Description Example

**len():** Returns the length of the list passed as
the argument

In [64]:
list1=[10,20,30,40,50]
len(list1)

5

**len():** Creates an empty list if no argument is passed

In [81]:
list1 = list()
list1

TypeError: 'list' object is not callable

**list():** Creates a list if a sequence is passed as
an argument